@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#app {
  max-width: 680px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  align-self: flex-start;
  font-family: 'Press Start 2P', cursive;
  color: darkcyan;
  text-shadow:
    2px 2px 0 gainsboro,
    4px 4px 0 gainsboro;
}

body {
  display: flex;
  place-items: center;
  background-image: url('bild.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
