@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#app {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  align-self: flex-start;
  font-family: 'Press Start 2P', cursive;
  color: darkcyan;
  text-shadow:
    2px 2px 0 gainsboro,
    4px 4px 0 gainsboro;
}

@media (max-width: 699px) {
  #app {
    padding: 1rem;
    width: 100%;
    max-width: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #app h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem 0;
  }
  .revisited {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
}

body {
  display: flex;
  place-items: center;
  background-image: url('bild.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
